# Environment variables
.env

# Log files
error.log
combined.log

# Node.js dependencies
node_modules/



# .gitignore
node_modules/
.env
logs/*
storage/*.db
storage/*.db-journal
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode
# Test coverage output
coverage/
